<header>
  <div class="bg-dark collapse" id="navbarHeader" style="">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">モヤモヤについて</h4>
          <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">コンタクト</h4>
          <ul class="list-unstyled">
            <li>
              <a href="https://twitter.com/　target="_blank"" class="text-white">ツイッター</a>
            </li>
            <li>
              <a href="#" class="text-white">フェイスブック</a>
            </li>
            <li>
              <a href="#" class="text-white">お問い合わせ</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="top" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewbox="0 0 24 24" focusable="false">
          <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>
          <circle cx="12" cy="13" r="4"></circle>
        </svg>
        <strong>New もや様 Box</strong>
      </a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>モヤ様一覧</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card-deck">
        <div class="card">
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center fa-5x">
                <i class="fas fa-user"></i>
              </div>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">峯上良平</h5>
            <p class="card-text">和歌山出身</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center fa-5x">
                <i class="fas fa-user"></i>
              </div>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">峯上良平</h5>
            <p class="card-text">和歌山出身</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center fa-5x">
                <i class="fas fa-user"></i>
              </div>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">峯上良平</h5>
            <p class="card-text">和歌山出身</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center fa-5x">
                <i class="fas fa-user"></i>
              </div>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">峯上良平</h5>
            <p class="card-text">和歌山出身</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-12">
      <div class="card-deck">
        <div class="card">
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center fa-5x">
                <i class="fas fa-user"></i>
              </div>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">峯上良平</h5>
            <p class="card-text">和歌山出身</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center fa-5x">
                <i class="fas fa-user"></i>
              </div>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">峯上良平</h5>
            <p class="card-text">和歌山出身</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center fa-5x">
                <i class="fas fa-user"></i>
              </div>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">峯上良平</h5>
            <p class="card-text">和歌山出身</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center fa-5x">
                <i class="fas fa-user"></i>
              </div>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">峯上良平</h5>
            <p class="card-text">和歌山出身</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
