<header>
  <div class="bg-dark collapse" id="navbarHeader" style="">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">モヤモヤについて</h4>
          <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">コンタクト</h4>
          <ul class="list-unstyled">
            <li>
              <a href="https://twitter.com/　target="_blank"" class="text-white">ツイッター</a>
            </li>
            <li>
              <a href="#" class="text-white">フェイスブック</a>
            </li>
            <li>
              <a href="#" class="text-white">お問い合わせ</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="top" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewbox="0 0 24 24" focusable="false">
          <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>
          <circle cx="12" cy="13" r="4"></circle>
        </svg>
        <strong>New もや様 Box</strong>
      </a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>多数で話したいor少数で話したい？</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <a href="type" class="btn btn-primary my-2">多数</a>
      <a href="few" class="btn btn-primary my-2">少数</a>
    </div>
  </div>
</div>
<div id="text_q"></div>


<script type="text/javascript">
//問題と解答
qa = new Array();
qa[0] = ["","多数","少数","河豚",1];
/*qa[1] = ["クラゲを漢字で書くとどれ？","水浮","水母","水星",2];
qa[2] = ["カタツムリを漢字で書くとどれ？","禍牛","鍋牛","蝸牛",3];
qa[3] = ["バッタを漢字で書くとどれ？","飛蝗","飛蟻","飛脚",1];
qa[4] = ["タツノオトシゴを英語にするとどれ？","sea fish","sea horse","sea dragon",2];
qa[5] = ["マグロを英語にするとどれ？","funa","suna","tuna",3];
qa[6] = ["トンボを英語にするとどれ？","fly","dragonfly","butterfly",2];
qa[7] = ["ヒトデを英語にするとどれ？","starfish","starshell","starmine",1];
qa[8] = ["恒星の中で最も明るい星は？","デネブ","スピカ","シリウス",3];
qa[9] = ["惑星の中で最も重たいのはどれ？","太陽","木星","天王星",2];
*/
//初期設定
count = 0; //問題番号
q_sel = 2; //選択肢の数

//最初の問題
quiz();

//問題表示
function quiz() {
 //問題
 //document.getElementById("text_q").innerHTML = (count + 1) + "問目：" + qa[count][0];
 document.getElementById("text_q").innerHTML =  qa[count][0];

 //選択肢
s = "";
for (n=1;n<=q_sel;n++) {
 s += "【<a href='javascript:answer("+n+")'>" + n + "：" + qa[count][n] + "</a>】";
}
document.getElementById("text_s").innerHTML = s;
}

//ページ遷移表示
function answer(num) {
var s;
s = (count + 1) + "問目：";
//答え合わせ
if (num == qa[count][q_sel + 1]) {
 //正解
 s += "○" + qa[count][num];
} else {
 s += "×" + qa[count][num];
}
document.getElementById("text_a").innerHTML = s;

//次の問題を表示
count++;
if (count == 0) {

 //quiz();
} else {
 //終了
 document.getElementById("text_q").innerHTML = "";
 document.getElementById("text_s").innerHTML = "";
}
}
//解答表示
function answer(num) {
var s;
s = (count + 1) + "問目：";
//答え合わせ
if (num == qa[count][q_sel + 1]) {
 //正解
 s += "○" + qa[count][num];
} else {
 s += "×" + qa[count][num];
}
document.getElementById("text_a").innerHTML = s;

//次の問題を表示
count++;
if (count == 0) {

 //quiz();
} else {
 //終了
 document.getElementById("text_q").innerHTML = "";
 document.getElementById("text_s").innerHTML = "";
}
}
//解答表示
function answer(num) {
var s;
s = (count + 1) + "問目：";
//答え合わせ
if (num == qa[count][q_sel + 1]) {
 //正解
 s += "○" + qa[count][num];
} else {
 s += "×" + qa[count][num];
}
document.getElementById("text_a").innerHTML = s;

//次の問題を表示
count++;
if (count < qa.length) {
 quiz();
} else {
 //終了
 document.getElementById("text_q").innerHTML = "";
 document.getElementById("text_s").innerHTML = "";
}
}

</script>
